@model Core.Model.Property.PropertyViewModel

<h2>AddProperty</h2>
@using (Html.BeginForm("AddProperty", "Default", FormMethod.Post, new { id = "validate" }))
                    {
                        <fieldset>
                            <div class="form-group">
                                <label>Property Name</label>
                                @Html.TextBoxFor(z => z.Name, new { @class="form-control", @placeholder="PropertyName", @required="required" })
                            </div>
                            <div class="form-group">
                                <label>Price</label>
                                @Html.TextBoxFor(z => z.Price, new { @class="form-control", @placeholder="Price", @type="number"})
                                @Html.ValidationSummary()
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                @Html.TextAreaFor(z => z.Description, new { @class="form-control", @placeholder="Description"})
                            </div>
                            <br>
                            <button class="btn btn-lg btn btn-block">Add property</button>
                        </fieldset>
                    }